.wrapper {
  overflow: hidden;
  padding: 120px 0 0 0;
  margin-bottom: 120px;
}

.title h2 {
  font-family: "fvhr";
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: var(--spacing-xs);
}

.title p {
  font-size: 16px;
  line-height: 150%;
  color: var(--color-primary);
  margin-bottom: var(--spacing-md);
}

.title p a {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--color-decorative);
  cursor: pointer;
}

.track {
  display: flex;
  width: 200%;
  animation: scroll 10s linear infinite;
}

.desktop {
  display: none;
}

.staticGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.blockMobile {
  width: 290px;
  height: 289px;
}

.blockMobile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .wrapper {
    overflow: hidden;
    padding: 140px 0 0 0;
    margin-bottom: 140px;
  }

  .title h2 {
    font-size: 48px;
  }

  .title p {
    font-size: 18px;
    margin-bottom: 45px;
  }

  .title p a {
    font-size: 18px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .blockDesktop {
    width: 337px;
    height: 359px;
    flex-shrink: 0;
    margin-right: var(--spacing-xs);
  }
  .blockDesktop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    overflow: hidden;
    padding: 150px 0 0 0;
    margin-bottom: 150px;
  }

  .title h2 {
    font-size: 52px;
  }

  .title p {
    font-size: 18px;
    margin-bottom: 59px;
  }

  .title p a {
    font-size: 18px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .blockDesktop {
    width: 440px;
    height: 469px;
    flex-shrink: 0;
    margin-right: var(--spacing-xs);
  }
  .blockDesktop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
