@font-face {
  font-family: "fcr";
  src: url("./fonts/Circe-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fcb";
  src: url("./fonts/Circe-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fvhr";
  src: url("./fonts/VeraHumana95.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
