@import url("./recet.css");
@import url("./var.css");
@import url("./fonts.css");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.bodyLock {
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
