.theme {
  position: absolute;
  left: 57%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 9999;
}

.theme img {
  max-width: 100%;
  min-height: 100%;
  object-fit: contain;
}

.whiteIcon {
  filter: brightness(0) invert(1);
}

.blackIcon {
  filter: none;
}

@media (min-width: 1400px) {
  .theme {
    left: 20%;
  }
}
