.wrapper {
  background: url("../../shared/assets/images/product-bg-m.jpg") no-repeat;
  padding: 80px 0 0 0;
}

.productRow {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.productBlock {
  background-color: var(--color-main-bg);
  padding: 40px 15px;
}

.productBlock h2 {
  font-family: "fvhr";
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: var(--spacing-xs);
  color: var(--color-primary);
}

.productBlock p {
  font-size: 13px;
  line-height: 160%;
  color: var(--color-primary);
  margin-bottom: var(--spacing-xs);
}

.productBlock button {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .wrapper {
    background: url("../../shared/assets/images/product-bg-t.jpg") center/cover
      no-repeat;
    padding: 90px 0 0 0;
  }

  .productBlock {
    padding: var(--spacing-lg) 35px;
  }

  .productBlock h2 {
    font-size: 52px;
    margin-bottom: var(--spacing-sm);
  }

  .productBlock p {
    font-size: 16px;
    margin-bottom: var(--spacing-sm);
  }

  .productBlock button {
    margin-top: 20px;
    width: 404px;
    height: 69px;
  }

  .productRow {
    gap: 35px;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    background: url("../../shared/assets/images/product-bg-d.jpg") center/cover
      no-repeat;
    padding: 25px 0 0 0;
  }

  .productRow {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .productBlock {
    padding: var(--spacing-lg) 35px;
    flex: 0 0 502px;
    transform: translateX(100px);
  }

  .productBlock h2 {
    font-size: 52px;
    margin-bottom: var(--spacing-xs);
  }

  .productBlock p {
    font-size: 16px;
    margin-bottom: var(--spacing-sm);
  }

  .productBlock button {
    width: 404px;
  }

  .productBlock button {
    margin-top: 20px;
    height: 69px;
  }

  .productRow {
    gap: 35px;
  }
}
